@charset "ISO-8859-1";

body {
    background-color: black;
}

label{
	color: grey;
}

table{
	float: right;
	width: 75%;
	background-color: black;
	color: white;
	border-style: solid;
	border-color:grey;
}

#searchSubmit{
	background-color:green;
	color: white;
	border-color: white;
}


.searchFunction{
	float left;
	position: fixed;
	top: 500px;
	font-size: 20px:
	
}

#sortSelector{
	font-size: 18px;
}